{namespace t=TYPO3\Neos\ViewHelpers}
<f:layout name="Module/BackendSubModule" />

<f:section name="content">
	<div class="t3-module-container indented">
		<table class="table">
			<thead>
				<th>Title</th>
				<th>ISBN</th>
			</thead>
			<tbody>
				<f:for each="{bookNodes}" as="bookNode">
					<tr>
						<td><t:link.node node="{bookNode}">{bookNode.properties.title}</t:link.node></td>
						<td>{bookNode.properties.isbn}</td>
					</tr>
				</f:for>
			</tbody>
		</table>
	</div>
	<div class="form-actions form-footer">
		<h4>Create new book through ISBN</h4>
		<f:form action="createIsbn" objectName="newBook">
			<fieldset>
				<div class="control-group">
					<div class="controls">
						<f:form.textfield property="isbn" placeholder="ISBN" />
					</div>
				</div>
				<button type="submit" class="btn btn-primary t3-button">Create Book</button>
			</fieldset>
		</f:form>
	</div>
</f:section>